.container
    .well
        %ul
            - @article_list.each do |article|
                %li
                    %a{:href=>"/post/#{article.Id}"}=article.Subject
                    %div{:class=>"component "+article.Format}=article.Body

%script{:src=>'/javascripts/markdown-show.js'}
%script{:src=>"/javascripts/home.js"}
