#container.container
	.well
		%form{:method=>'post',:action=>'/post',:id=>"post"}
			Subject:
			%input{:type=>'text',:name=>'subject',:id=>'subject',:size=>'45'}
			%br
			Tags:
			%input{:type=>'text',:name=>'tags',:size=>'45'}
			%input{:type=>'hidden',:name=>'user_id',:id=>'user_id'}
			%br
			Public?
			%input{:type=>'checkbox',:name=>'public',:value=>'1'}
			%br
			%br
			Summary:
			%textarea{:id=>'txtBody',:name=>'txtBody',:cols=>"80",:rows=>"15"}
			%input{:type=>"submit",:value=>"submit"}
%script{:type=>'text/javascript',:src=>'/javascripts/jquery-ui.min.js'}
%script{:type=>'text/javascript',:src=>'/javascripts/jHtmlArea-0.7.0.js'}
%script{:type=>'text/javascript'}
	$("#txtBody").width($("#container").width()-40);htmlarea_with_cache("#txtBody","new");
