#dialog-block-confirm{:title=>"Delete block?",:style=>"display:none"}
	%p Delete block?
#dialog-link-confirm{:title=>"Delete link?",:style=>"display:none"}
	%p Delete this link?
.container-fluid
	.row-fluid
		#left
			#left_sortable
		#middle.well
			.page-header#header
				#tags
				%h1#title
				.edit_link{:style=>"text-align:right;margin-right:15px;"}
					%a.hide{:href=>"/edit_post/#{@id}"}
						edit
			%ul#middle_sortable
			%a{:href=>"/view_article/#{@id}"}
				view article
		#right
			#right_sortable
%script{:src=>'/javascripts/jquery.jsPlumb-1.3.9-all-min.js'}
%script{:type=>'text/javascript'}
	var article_id='#{@id}';
	var is_author=#{@is_author};
%script{:src=>'/javascripts/post.js'}