#send_msg{:title=>"Send Message",:style=>"display:none;"}
	%textarea{:id=>"msg",:name=>"msg",:style=>"width: 250px; height: 60px;"}
.container
	.container-fluid
		.row-fluid
			.span2.well
				%h3 Profile
				%img{:src=>@user.AvatarURL}
				%br
				=@user.Name
				%br
				- if @is_followed
					%button#follow.btn.btn-danger{:onclick=>"unfollow_user('"+@user.Id+"','"+@current_user.Id+"');"}
						Unfollow
				- if @is_unfollow
					%button#follow.btn.btn-info{:onclick=>"follow_user('"+@user.Id+"','"+@current_user.Id+"');"}
						Follow
				- if @is_me
					%button.btn
						This is me
				- else
					%button.btn{:onclick=>"send_message('"+@user.Id+"');"}
						Send Msg
			.span5.well
				%h3 Posts
				%ul
					- @topics.each do |article|
						%li
							%a{:href=>"/post/#{article.Id}"}=article.Subject
							%p= article.Body
			.span5.well
				%h3 Blocks
				%ul
					- @blocks.each do |article|
						%li
							%a{:href=>"/post/#{article.Id}"}=article.Subject
							%p= article.Body
%script{:src=>"/javascripts/user.js"}