.container-fluid
	.row-fluid
		.well
			.page-header
				%h1#title 
					= @title
			= @html
			%a{:href=>"/post/#{@id}"}
				view post (After logging can comment)

%script{:src=>'/epiceditor/js/epiceditor.js'}
%script{:src=>'/javascripts/markdown-show.js'}
